@charset "UTF-8";

/*
em HTML é id    = em CSS é # (para um elemento)
em HTML é class = em CSS é . (para vários elemntos)
*/
body{
    background-color: rgba(195, 245, 145, 0.781);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(36, 53, 20);
}
h1#principal{
    text-align: center;
    color: rgb(44, 85, 3);
    background-color: aquamarine;
}
h2{
    color: rgb(60, 109, 11);
}
.basico{
    color: darkgreen;
    font-weight: bold;
}
.intermediario{
    color: darkolivegreen;

}
.avançado{
    color: aqua;
}
.destaque{
    background-color: rgba(184, 135, 11, 0.37);
}